
@media (min-width: 0px) and (max-width: 320.95px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #CAC9C8;
    }
    
    @font-face {
        font-family: autolinker;
        
        src: url(autolinker/Autolinker.otf)
    }
    
    #menu {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: black;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    #logo {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #texto {
        display: flexbox;
        max-width: 320px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        padding: 35px;
    }
    
    .titulo {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: autolinker;
        width: 100%;
        font-size: 30px;
    }

    p:hover {
        color: #4D4C4C;
    }
    .texto {
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        color: #4D4C4C;
    }
    
    #corpo {
        margin: 0;
        background-color: #CAC9C8;
        text-align: center;
        padding: 0;
    }
    
    .box {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: 25%;
        margin-right: 20%;
        justify-content: center;
        padding: auto;
        text-align: center;
        font-family: autolinker;
        font-size: 60px;
    }
    
    #imagens {
        padding: 0;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        contain: content; 
    }
    
    #imgProjeto {
        border: white 5px solid;
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 300px;
    }

    #imgProjeto:hover {
        border: 0px;
        width: 310px;
    }
    
    .message {
        margin-bottom: 20px;
        height: 150px;
        width: 300px;
        border: white 5px solid;
        border-radius: 20px;
        background-color: #C0BBBD;
        color: #4D4C4C
    }
    
    .button {
        background-color: #7A797C;
        border: white 5px solid;
        border-radius: 10px;
        height: 60px;
        width: 140px;
        margin-top: 30px;
        margin-bottom: 40px;
        font-family: cursive;
        font-size: 30px;
        color: white;
    }

    .button:hover {
        background-color:#C0BBBD;
        color: #4D4C4C;
        width: 160px;
        height: 80px;
    }
}
@media (min-width: 321px) and (max-width: 575.95px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #CAC9C8;
    }
    
    @font-face {
        font-family: autolinker;
        
        src: url(autolinker/Autolinker.otf)
    }
    
    #menu {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: black;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    #logo {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #texto {
        display: flexbox;
        max-width: 400px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        padding: 35px;
    }
    
    .titulo {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: autolinker;
        width: 100%;
        font-size: 40px;
    }

    p:hover {
        color: #4D4C4C;
    }
    .texto {
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        color: #4D4C4C;
    }
    
    #corpo {
        margin: 0;
        background-color: #CAC9C8;
        text-align: center;
        padding: 0;
    }
    
    .box {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: 25%;
        margin-right: 20%;
        justify-content: center;
        padding: auto;
        text-align: center;
        font-family: autolinker;
        font-size: 60px;
    }
    
    #imagens {
        padding: 0;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        contain: content; 
    }
    
    #imgProjeto {
        border: white 5px solid;
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 350px;
    }

    #imgProjeto:hover {
        border: 0px;
        width: 360px;
    }
    
    .message {
        margin-bottom: 20px;
        height: 150px;
        width: 300px;
        border: white 5px solid;
        border-radius: 20px;
        background-color: #C0BBBD;
        color: #4D4C4C
    }
    
    .button {
        background-color: #7A797C;
        border: white 5px solid;
        border-radius: 10px;
        height: 60px;
        width: 140px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-family: cursive;
        font-size: 30px;
        color: white;
    }

    .button:hover {
        background-color:#C0BBBD;
        color: #4D4C4C;
        width: 160px;
        height: 80px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #CAC9C8;
    }
    
    @font-face {
        font-family: autolinker;
        
        src: url(autolinker/Autolinker.otf)
    }
    
    #menu {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: black;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    #logo {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #texto {
        display: flexbox;
        max-width: 400px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        padding: 35px;
    }
    
    .titulo {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: autolinker;
        width: 100%;
        font-size: 40px;
    }

    p:hover {
        color: #4D4C4C;
    }
    .texto {
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        color: #4D4C4C;
    }
    
    #corpo {
        margin: 0;
        background-color: #CAC9C8;
        text-align: center;
        padding: 0;
    }
    
    .box {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: 25%;
        margin-right: 20%;
        justify-content: center;
        padding: auto;
        text-align: center;
        font-family: autolinker;
        font-size: 60px;
    }
    
    #imagens {
        padding: 0;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        contain: content; 
    }
    
    #imgProjeto {
        border: white 5px solid;
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 450px;
    }

    #imgProjeto:hover {
        border: 0px;
        width: 470px;
    }
    
    .message {
        margin-bottom: 20px;
        height: 150px;
        width: 300px;
        border: white 5px solid;
        border-radius: 20px;
        background-color: #C0BBBD;
        color: #4D4C4C
    }
    
    .button {
        background-color: #7A797C;
        border: white 5px solid;
        border-radius: 10px;
        height: 60px;
        width: 140px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: cursive;
        font-size: 30px;
        color: white;
    }

    .button:hover {
        background-color:#C0BBBD;
        color: #4D4C4C;
        width: 160px;
        height: 80px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #CAC9C8;
    }
    
    @font-face {
        font-family: autolinker;
        font-size: 50px;
        
        src: url(autolinker/Autolinker.otf)
    }
    
    #menu {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: black;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    #logo {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #texto {
        display: flexbox;
        max-width: 600px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
        padding: 35px;
    }
    
    .titulo {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: autolinker;
        width: 100%;
        font-size: 50px;
    }

    p:hover {
        color: #4D4C4C;
    }
    .texto {
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        color: #4D4C4C;
    }
    
    #corpo {
        margin: 0;
        background-color: #CAC9C8;
        text-align: center;
        padding: 0;
    }
    
    .box {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: 25%;
        margin-right: 20%;
        justify-content: center;
        padding: auto;
        text-align: center;
        font-family: autolinker;
        font-size: 60px;
    }
    
    #imagens {
        padding: 0;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        contain: content; 
    }
    
    #imgProjeto {
        border: white 5px solid;
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 600px;
    }

    #imgProjeto:hover {
        border: 0px;
        width: 620px;
    }
    
    .message {
        margin-bottom: 20px;
        height: 250px;
        width: 450px;
        border: white 5px solid;
        border-radius: 20px;
        background-color: #C0BBBD;
        color: #4D4C4C
    }
    
    .button {
        background-color: #7A797C;
        border: white 5px solid;
        border-radius: 10px;
        height: 60px;
        width: 140px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: cursive;
        font-size: 30px;
        color: white;
    }

    .button:hover {
        background-color:#C0BBBD;
        color: #4D4C4C;
        width: 160px;
        height: 80px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #CAC9C8;
    }
    
    @font-face {
        font-family: autolinker;
        font-size: 50px;
        
        src: url(autolinker/Autolinker.otf)
    }
    
    #menu {
        display: flex;
        width: 100%;
        height: 150px;
        background-color: black;
        align-items: center;
        justify-content: center;
    }
    #logo {
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #texto {
        display: flexbox;
        max-width: 800px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        padding: 35px;
    }
    
    .titulo {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: autolinker;
        width: 100%;
        font-size: 60px;
    }

    p:hover {
        color: #4D4C4C;
    }
    .texto {
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
        color: #4D4C4C;
    }
    
    #corpo {
        margin: 0;
        background-color: #CAC9C8;
        text-align: center;
        padding: 0;
    }
    
    .box {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: 25%;
        margin-right: 20%;
        justify-content: center;
        padding: auto;
        text-align: center;
        font-family: autolinker;
        font-size: 60px;
    }
    
    #imagens {
        padding: 0;
        margin: 0;
        margin-top: 50px;
        width: 100%;
        contain: content; 
    }
    
    #imgProjeto {
        border: white 5px solid;
        border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 800px;
    }

    #imgProjeto:hover {
        border: 0px;
        width: 840px;
    }
    
    .message {
        margin-bottom: 20px;
        height: 350px;
        width: 550px;
        border: white 5px solid;
        border-radius: 20px;
        background-color: #C0BBBD;
        color: #4D4C4C;
    }
    
    .button {
        background-color: #7A797C;
        border: white 5px solid;
        border-radius: 10px;
        height: 80px;
        width: 160px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: cursive;
        font-size: 30px;
        color: white;
    }

    .button:hover {
        background-color:#C0BBBD;
        color: #4D4C4C;
        width: 180px;
        height: 100px;
    }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #CAC9C8;
    }
    
    @font-face {
        font-family: autolinker;
        font-size: 50px;
        
        src: url(autolinker/Autolinker.otf)
    }
    
    #menu {
        display: flex;
        width: 100%;
        height: 150px;
        background-color: black;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    #logo {
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #texto {
        display: flexbox;
        max-width: 800px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        padding: 35px;
    }
    
    .titulo {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-family: autolinker;
        width: 100%;
        font-size: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p:hover {
        color: #4D4C4C;
    }
    .texto {
        padding: 0;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
        color: #4D4C4C;
    }
    
    #corpo {
        margin: 0;
        background-color: #CAC9C8;
        text-align: center;
        padding: 0;
    }
    
    .box {
        display: flex;
        align-items: center;
        width: 50%;
        margin-left: 25%;
        margin-right: 20%;
        justify-content: center;
        padding: auto;
        text-align: center;
        font-family: autolinker;
        font-size: 60px;
    }
    
    #imagens {
        width: 1200px;
        height: 3200px;
        display: flexbox;
        text-align: center;
        align-items: center;
        margin: 80px;
        padding: auto;
    }
    
    #imgProjeto {
        border: white 5px solid;
        float: left;
        width: 350px;
        margin: 20px;
        border-radius: 10px;
    }

    #imgProjeto:hover {
        border: 0px;
        width: 360px;
    }
    
    .message {
        margin-bottom: 20px;
        height: 350px;
        width: 550px;
        border: white 5px solid;
        border-radius: 20px;
        background-color: #C0BBBD;
        color: #4D4C4C;
    }
    
    .button {
        background-color: #7A797C;
        border: white 5px solid;
        border-radius: 10px;
        height: 80px;
        width: 160px;
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: cursive;
        font-size: 30px;
        color: white;
    }

    .button:hover {
        background-color:#C0BBBD;
        color: #4D4C4C;
        width: 180px;
        height: 100px;
    }
}